@model AddGoodModel

<div class="container">
    <div class="row">
    <div class="col-md-3">
        @Html.Partial("AdminMenu")
    </div>
    
    <div class="col-md-9">

<form asp-action="EditGood" asp-controller="Admin" method="post">
        <div asp-validation-summary=" All" class="text-danger"></div>
  <div class="form-group">
       <input type="hidden" asp-for="id">
    <label asp-for="Name">Название</label>
   
    <input type="text" class="form-control" asp-for="@Model.Name" value="@Model.Name">
  </div>
  <div class="form-group">

    <label>Цена</label>
    <input class="form-control" value="@Model.Price" asp-for="@Model.Price" type="text">
</div>

  <div class="form-group">
    <label>Описание</label>
    <textarea class="form-control" style="min-height:300px" asp-for="@Model.Description" type="text">
      @Model.Description
    </textarea>
</div>
  <div class="form-group">
    <label>Название улицы</label>
    <input class="form-control" placeholder="Введите улицу" asp-for="Street" type="text">
</div>
  <div class="form-group">
    <label>Номер улицы</label>
    <input class="form-control" placeholder="Введите номер улицы" asp-for="StreetNumber" type="text">
</div>


  <div class="form-group">
    <label>Путь к картине</label>
    <input class="form-control" value="@Model.ImgPath" asp-for="@Model.ImgPath" type="file">
</div>


  <button type="submit" class="btn btn-primary">Изменить</button>
</form>

</div>
