@model Good
@inject ICartService cart

    
    <div class="card  border-primary crr" style="margin:5px">
        <div class="bkg" name="w" style="background-image:url(@Model.ImgPath)">

        </div>
        <div class="card-body">     
            
            <h4 class="card-title text-primary">@Model.Name
                      <small class="badge badge-warning" style="float:right; margin-top:7px" >@Model.Price.ToString("c")</small>
                      <hr>
              
            </h4>

            <p class="card-text  text-dark">
                    @Model.Description
            </p>         
            <h4>
                <small class="badge badge-info" style="margin-top:7px" >@Model.Adress @Model.StreetNumber</small>
               
            </h4>      

        </div>
         <div class="card-footer">
               <form id="@Model.GoodId" method="post" asp-for="Good" asp-controller="Cart" asp-action="AddToCart">
                   <input type="hidden" asp-for="GoodId" >

                @{
                    string bgColor = "btn-outline-primary";
                    string Caption = "Добавить в корзину";
                }
                @if(cart.IsInCart(Model))
                {
                    bgColor = "btn-success";
                    Caption = "Добавлено " + cart.GetCount(Model);
                }


                
                
                    <button class="btn @bgColor " style="float:right; width=100px;">
                        @Caption
                    </button>
                
                </form>
                </div>
    </div>
  

    